  <script>
    $("#weesee").click(function() {
      $(this).attr("src", $(this).attr("src"));
      return false;
    }); 

    $("#downloadButton").click(function() {
      $("#wesee").attr("src", $("#wesee").attr("src"));
    });
  </script>
</body>
</html>