<% include _header %>
  
  <div class="wrap">    
    <h1>We See In Every Direction – A Synchronized Shared Web Browser</h1>
    <nav>
      <a href="/about">About</a>
      <a href="/download">Download</a>
    </nav>

    <div class="g1">
      <h2>Mac OSX</h2>
      <a href="http://wesee.s3.amazonaws.com/WeSee.app.zip">
          <img src="/wesee_1024.png"/>
      </a>
    </div>

    <div class="g1">
      <h2>Windows</h2>
      <a href="http://wesee.s3.amazonaws.com/WeSeeWin.zip">
        <img src="/wesee_1024.png"/>
      </a>
    </div>

    <div class="g1">
      <h2>Linux 64 Bit</h2>
      <a href="http://wesee.s3.amazonaws.com/WeSee64bit.tar.gz">
        <img src="/wesee_1024.png"/>
      </a>
    </div>

    <div class="g1">
      <h2>Linux 32 Bit</h2>
      <a href="http://wesee.s3.amazonaws.com/WeSee32bit.tar.gz">
        <img src="/wesee_1024.png"/>
      </a>
    </div>

  </div>

<% include _footer %>